.container {
  background-color: #fff;
  align-items: flex-start;
  overflow: auto;
  height: 160vh;
  margin-left: 23vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

.containerProfile {
  display: flex;
  align-items: flex-start;
}